<div class="order-details">
  <div class="container">
    <div class="row g-3">
      <!-- Cột 1 -->
      <div class="col-md-12">
        <p><strong>ID Khách hàng:</strong> <span>12345</span></p>
        <p><strong>Họ tên:</strong> <span>Nguyễn Văn A</span></p>
        <p><strong>SĐT:</strong> <span>0987654321</span></p>
        <p><strong>Username:</strong> <span>nguyenvana</span></p>
        <p><strong>Enabled:</strong> <span>True</span></p>
      </div>
    </div>
  </div>
</div>

<div class="search-bar mt-3 mb-3">
  <h6>Danh sách quyền</h6>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên quyền</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>1</td>
      <td>ROLE_USER</td>
    </tr>
    <tr class="odd">
      <td>2</td>
      <td>ROLE_ADMIN</td>
    </tr>
  </tbody>
</table>
