<div class="order-details" th:fragment="orderDetailModal">
  <div th:with="od=${orderDetails.getFirst()}" class="container">
    <div class="row g-3">
      <!-- Cột 1 -->
      <div class="col-md-6">
        <p><strong>ID Đơn Hàng:</strong> <span id="order-id" th:text="${od.getDonHang().getId()}"></span></p>
        <p><strong>Ngày Tạo:</strong> <span id="order-date" th:text="${od.getDonHang().getNgayDatHang()}"></span></p>
        <p><strong>Trạng Thái:</strong> <span id="order-status" th:text="${od.getDonHang().getTrangThai()}"></span></p>
      </div>
      <!-- Cột 2 -->
      <div class="col-md-6">
        <p><strong>Tên Khách Hàng:</strong> <span id="customer-name" th:text="${od.getDonHang().getKhachHang().getTenKH()}"></span></p>
        <p>
          <strong>Khuyến Mãi:</strong>
          <span th:if="${od.getDonHang().getKhuyenMai() != null}" th:text="${od.getDonHang().getKhuyenMai().getTenKhuyenMai()}"></span>
          <span th:if="${od.getDonHang().getKhuyenMai() == null}">Không</span>
        </p>
        <p><strong>Tổng Tiền:</strong> <span id="total" th:text="${#numbers.formatDecimal(od.getDonHang().getTongTien(), 3, 'COMMA', 0, 'POINT') + ' VND'}"></span></p>
      </div>
    </div>
  </div>
</div>

<!--<div class="search-bar mt-3 mb-3">-->
<!--    <input type="search" class="form-control" placeholder="Tìm kiếm sản phẩm">-->
<!--</div>-->
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Tên SP</th>
    <th>Kích Thước</th>
    <th>Màu Sắc</th>
    <th>Giá Gốc</th>
    <th>Giá Bán</th>
    <th>Số Lượng</th>
    <th>Thành Tiền</th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd" th:each="od : ${orderDetails}">
    <td th:text="${od.getId()}"></td>
    <td th:text="${od.getSanPham().getTenSP()}"></td>
    <td th:text="${od.getSanPham().getThuocTinhSP().getKichCo().getTenKichCo()}"></td>
    <td th:text="${od.getSanPham().getThuocTinhSP().getMauSac().getTenMau()}"></td>
    <td th:text="${#numbers.formatDecimal(od.getGiaGoc(), 3, 'COMMA', 0, 'POINT')+ ' VND'}" class="text-right"></td>
    <td th:text="${#numbers.formatDecimal(od.getGiaBan(), 3, 'COMMA', 0, 'POINT') + ' VND'}" class="text-right"></td>
    <td th:text="${od.getSoLuong()}" class="text-right"></td>
    <td th:text="${#numbers.formatDecimal(od.getGiaBan() * od.getSoLuong(), 3, 'COMMA', 0, 'POINT') + ' VND'}" class="text-right"></td>
  </tr>
  </tbody>
</table>