<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head"></head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" th:src="@{/assets/dist/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60"
         width="60">
  </div>

  <!-- Navbar -->
  <nav th:replace="admin/fragments/navbar :: navbar"></nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">THÊM MỚI KHUYẾN</h1>
          </div>
          <div class="col-3"></div>
          <div class="col-3">
            <div id="alert-box" th:if="${flag_success}" class="alert alert-success position-absolute">
              <span th:text="${message}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6"></div>
                    <div class="col-sm-12 col-md-6"></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <form class="form-horizontal"  action="/admin/promotion/form-add-khuyen-mai" method="post" th:object="${khuyenMaiDTO}">
                        <div class="card-body">
                          <div class="form-group row">
                            <label for="inputTenKm" class="col-sm-2 col-form-label">Tên khuyến mãi</label>
                            <div class="col-sm-5">
                              <input class="form-control" id="inputTenKm" th:field="${khuyenMaiDTO.tenKhuyenMai}" placeholder="Tên khuyến mãi">
                            </div>
                            <p th:if="${#fields.hasErrors('tenKhuyenMai')}"
                               th:errorclass="text-danger"
                               th:errors="${khuyenMaiDTO.tenKhuyenMai}"></p>
                          </div>
                          <!--                                                    <div class="form-group row">-->
                          <!--                                                        <label for="inputMoTa" class="col-sm-2 col-form-label">Mô tả</label>-->
                          <!--                                                        <div class="col-sm-10">-->
                          <!--                                                            <input class="form-control" id="inputMoTa" th:field="${khuyenMaiDTO.moTa}" placeholder="Mô tả">-->
                          <!--                                                        </div>-->
                          <!--                                                        <p th:if="${#fields.hasErrors('moTa')}"-->
                          <!--                                                           th:errorclass="text-danger"-->
                          <!--                                                           th:errors="${khuyenMaiDTO.moTa}"></p>-->
                          <!--                                                    </div>-->
                          <div class="form-group row">
                            <label for="inputMoTa" class="col-sm-2 col-form-label">Mô tả</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" id="inputMoTa" th:field="${khuyenMaiDTO.moTa}" placeholder="Mô tả"></textarea>
                            </div>
                            <p th:if="${#fields.hasErrors('moTa')}"
                               th:errorclass="text-danger"
                               th:errors="${khuyenMaiDTO.moTa}"></p>
                          </div>

                          <div class="form-group row">
                            <label for="inputPhantram" class="col-sm-2 col-form-label">Phần trăm giảm (%)</label>
                            <div class="col-sm-3">
                              <input type="number" class="form-control" id="inputPhantram" th:field="${khuyenMaiDTO.phanTramGiamGia}" placeholder="VD: 5">
                            </div>
                            <p th:if="${#fields.hasErrors('phanTramGiamGia')}"
                               th:errorclass="text-danger"
                               th:errors="${khuyenMaiDTO.phanTramGiamGia}"></p>
                          </div>
                          <div class="form-group row">
                            <label for="inputGiaToiThieu" class="col-sm-2 col-form-label">Giá tối thiểu</label>
                            <div class="col-sm-3">
                              <input type="number" class="form-control" id="inputGiaToiThieu" th:field="${khuyenMaiDTO.giaToiThieu}" placeholder="0">
                            </div>
                            <p th:if="${#fields.hasErrors('giaToiThieu')}"
                               th:errorclass="text-danger"
                               th:errors="${khuyenMaiDTO.giaToiThieu}"></p>
                          </div>
                          <div class="form-group row">
                            <label for="inputBatDau" class="col-sm-2 col-form-label">Bắt đầu</label>
                            <div class="col-sm-3">
                              <input type="date" class="form-control" id="inputBatDau" th:field="${khuyenMaiDTO.ngayBatDau}">
                            </div>
                            <p th:if="${#fields.hasErrors('ngayBatDau')}"
                               th:errorclass="text-danger"
                               th:errors="${khuyenMaiDTO.ngayBatDau}"></p>
                          </div>
                          <div class="form-group row">
                            <label for="inputKetThuc" class="col-sm-2 col-form-label">Kết thúc</label>
                            <div class="col-sm-3">
                              <input type="date" class="form-control" id="inputKetThuc" th:field="${khuyenMaiDTO.ngayKetThuc}">
                            </div>
                            <p th:if="${#fields.hasErrors('ngayKetThuc')}"
                               th:errorclass="text-danger"
                               th:errors="${khuyenMaiDTO.ngayKetThuc}"></p>
                          </div>
                          <div class="form-group row">
                            <label for="inputKetThuc" class="col-sm-2 col-form-label">Trạng thái</label>
                            <div class="col-sm-3">
                              <select class="form-control" th:field="${khuyenMaiDTO.trangThai}">
                                <option value="DANG_DIEN_RA">DANG_DIEN_RA</option>
                                <option value="DA_KET_THUC">DA_KET_THUC</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="row">
                          <div class="col-6">
                            <button type="submit" class="btn btn-block bg-gradient-primary">Submit</button>
                          </div>
                          <div class="col-6">
                            <button type="reset" class="btn btn-block btn-default">Reset</button>
                          </div>


                        </div>
                        <!-- /.card-footer -->
                      </form>
                    </div>
                  </div>
                  <div class="row"
                       style="display: flex;justify-content: space-between;align-items: center;">
                    <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info" id="example2_info" role="status"
                           aria-live="polite">
                        <!--                                                Showing 1 to 10 of 57 entries-->
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-7" style="display: flex;justify-content: flex-end">
                      <div class="dataTables_paginate paging_simple_numbers"
                           id="example2_paginate">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <footer th:replace="admin/fragments/footer :: footer"></footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<div th:replace="admin/fragments/script :: script"></div>

<script>
  // Tự động ẩn thông báo sau 3 giây
  setTimeout(() => {
    const alertBox = document.getElementById("alert-box");
    if (alertBox) {
      alertBox.style.display = "none";
    }
  }, 3000); // 3000ms = 3 giây
</script>


</body>
</html>