<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QUẢN LÝ TÀI KHOẢN</title>
    <link rel="stylesheet" th:href="@{/assets/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" th:src="@{/assets/dist/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Main Sidebar Container -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">QUẢN LÝ TÀI KHOẢN</h1>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <div id="alert-box" class="alert alert-success position-absolute" th:if="${message}">
                            <span th:text="${message}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                                    <div class="col-md-5">
                                        <form th:action="@{/admin/account}" method="get">
                                            <div class="input-group">
                                                <input type="search" name="keyword" class="form-control" placeholder="Type your keywords here" th:value="${keyword}">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"></div>
                                        <div class="col-sm-12 col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Username</th>
                                                    <th>Email</th>
                                                    <th>Roles</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="account : ${accounts}">
                                                    <td th:text="${account.accountId}"></td>
                                                    <td th:text="${account.username}"></td>
                                                    <td th:text="${account.email}"></td>
                                                    <td>
                                                        <span th:each="role, iterStat : ${account.roles}" th:text=" ${role.name} " th:if="${!iterStat.last} + ', '"></span>
                                                        <span th:if="${#lists.isEmpty(account.roles)}">No roles</span>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/admin/account/edit(id=${account.accountId})}">Edit</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row" style="display: flex; justify-content: space-between; align-items: center;">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                                Showing <span th:text="${accounts.size()}"></span> entries
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-7" style="display: flex; justify-content: flex-end">
                                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous" th:classappend="${currentPage == 0} ? 'disabled'">
                                                        <a th:href="@{/admin/account(page=${currentPage - 1}, keyword=${keyword})}" class="page-link">Previous</a>
                                                    </li>
                                                    <li class="paginate_button page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
                                                        <a th:href="@{/admin/account(page=${i}, keyword=${keyword})}" th:text="${i + 1}" class="page-link"></a>
                                                    </li>
                                                    <li class="paginate_button page-item next" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                                        <a th:href="@{/admin/account(page=${currentPage + 1}, keyword=${keyword})}" class="page-link">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <aside class="control-sidebar control-sidebar-dark"></aside>
</div>

<script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/dist/js/adminlte.min.js}"></script>
<script th:inline="javascript">
    setTimeout(() => {
        const alertBox = document.getElementById("alert-box");
        if (alertBox) {
            alertBox.style.display = "none";
        }
    }, 3000);
</script>
</body>
</html>